﻿@page
@model ArticlesModel
@{
    ViewBag.Title = "Articles";
}
<div class="article">
    <dl>
        <dd>
            <h1>

                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Article.ArticleName))
            </h1>
        </dd>

        <dd>
            <p>

                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Article.ArticleContext))
            </p>
            <p>
                @Html.DisplayFor(model => Model.Article.CreatedOn)
            </p>
        </dd>


    </dl>

</div>