﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="newsMenu">
    @{ int i = 0;}

    @{  var items = Model.ImArticles;   }
    <a asp-page="./Articles" asp-route-id=@items[i].Id>
        <div class="rowTopLeft">
            <h1>
                @Html.DisplayFor(modelItem => items[i].ArticleName)
            </h1>
            <p>@Html.DisplayFor(modelItem => items[i].ArticleContext)</p>
            <p style="float:right;     font-size: calc(2px + 0.9vw);">@Html.DisplayFor(modelItem => items[i].CreatedOn)</p>

            @{i++;}
        </div>
    </a>

<a asp-page="./Articles" asp-route-id=@items[i].Id>
        <div class="rowTopRight">

            <h1>
                @Html.DisplayFor(modelItem => items[i].ArticleName)
            </h1>
            <p>@Html.DisplayFor(modelItem => items[i].ArticleContext)</p>
            <p style="float:right;     font-size: calc(2px + 0.9vw);">@Html.DisplayFor(modelItem => items[i].CreatedOn)</p>

            @{i++;}
        </div>
    </a>
    <a asp-page="./Articles" asp-route-id=@items[i].Id>
        <div class="rowBottomRight">
            <h1>
                @Html.DisplayFor(modelItem => items[i].ArticleName)
            </h1>
            <p>@Html.DisplayFor(modelItem => items[i].ArticleContext)</p>
            <p style="float:right;     font-size: calc(2px + 0.9vw);">@Html.DisplayFor(modelItem => items[i].CreatedOn)</p>
            @{i++;}
        </div>
    </a>
    <a asp-page="./Articles" asp-route-id=@items[i].Id>
        <div class="rowBottomLeft">
            <h1>
                @Html.DisplayFor(modelItem => items[i].ArticleName)
            </h1>
            <p>@Html.DisplayFor(modelItem => items[i].ArticleContext)</p>
            <p style="float:right;     font-size: calc(2px + 0.9vw);">@Html.DisplayFor(modelItem => items[i].CreatedOn)</p>
            @{i++;}
        </div>
    </a>



</div>
<div class="otherNews">
    @for (int x = 0; x < Model.UnArticles.Count; x++)
    {
        <ul>
            <a asp-page="./Articles" asp-route-id=@Model.UnArticles[x].Id>       
                    <h1> @Html.DisplayFor(modelItem => modelItem.UnArticles[x].ArticleName)</h1>
                    <p> @Html.DisplayFor(modelItem => modelItem.UnArticles[x].ArticleContext)</p>
                </a>
</ul>
    }

    <span>
        @if (ViewBag.Page > 0)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
               class="btn btn-default">
                &laquo; Iepriekšējā
            </a>
        }
    </span>
    <span>
        @if (ViewBag.Page < ViewBag.MaxPage - 1)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
               class="btn btn-default">
                Nākamā &raquo;
            </a>
        }
    </span>

</div>